@font-face {
    font-family: "cabin";
    src: url("font/Cabin-VariableFont_wdth\,wght.ttf") format('truetype');
}

* {
    text-decoration: none;
}

.navbar {
    background-color: #4a4d4e;
    font-family: Helvetica;
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-text {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-list {
    list-style: none;
    display: inline-block;
    margin-right: 24px;
}

body {
    background-color: blanchedalmond;
}

#paragraph {
    text-indent: 50px;
    font-family: Cabin;
}

.spotify-frame {
    position:relative;
    top: 100px;
    right:8px;
}