@font-face {
    font-family: "cabin";
    src: url("font/Cabin-VariableFont_wdth\,wght.ttf") format('truetype');
}

* {
    text-decoration: none;
}

.sidebar {
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  font-family: "cabin";
  font-size:  20px;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.hover a:hover:not(.active) {
  background-color: #555;
  color: white;
}

#navimg {
  padding-left: 60px;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  #paragraph {
    flex: 1;
    margin-right: 20px;
  }

  .iframe-container {
    flex-shrink: 0;
    width: 30%;
    text-align:right;
  }

  .iframe-container iframe {
    width: 30%;
    height: 352px;
  }

.main-content {
  padding-left: 220px;
}

.text {
  font-family: "cabin";
  font-size: 23px;

}

.img_gallery {
  width: 80%;
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fix, minmax(250px, 1fr));
  grid-gap: 30px;
}

.img_gallery img{
  cursor: pointer;
  width: 20%;
  height: 20%;
}

#pic {
  border-radius: 5%;
  width: 30%;
  height: auto;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 20px;
  text-align: center;
}

.gallery {
  columns: 3; /* Number of columns */
  column-gap: 10px; /* Gap between columns */
  padding: 20px;
}

.gallery-item {
  break-inside: avoid; /* Prevents breaking inside columns */
  margin-bottom: 10px; /* Space between items */
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Responsive Adjustments */
@media (max-width: 800px) {
  .gallery {
      columns: 2;
  }
}

@media (max-width: 500px) {
  .gallery {
      columns: 1;
  }
}